org: j41r0
app: e-jairo
service: e-jairo-service
useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1

  httpApi:
    cors:
      allowedOrigins:
        - ${env:AWS_CORS_ALLOWED_ORIGIN}
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
      allowCredentials: true
      maxAge: 6000

    authorizers:
      jwtAuthorizer:
        identitySource: $request.header.Authorization
        issuerUrl: https://cognito-idp.${self:provider.region}.amazonaws.com/${env:COGNITO_USER_POOL_ID}
        audience:
          - ${env:COGNITO_CLIENT_ID}

  environment:
    DYNAMODB_TABLE_NAME: ${env:DYNAMODB_TABLE_NAME}
    COGNITO_CLIENT_ID: ${env:COGNITO_CLIENT_ID}
    COGNITO_USER_POOL_ID: ${env:COGNITO_USER_POOL_ID}
    AWS_CORS_ALLOWED_ORIGIN: ${env:AWS_CORS_ALLOWED_ORIGIN}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${env:DYNAMODB_TABLE_NAME}
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${env:DYNAMODB_TABLE_NAME}/index/*

functions:
  - ${file(./app/auth/functions.yml)}
  - ${file(./app/team/functions.yml)}
  - ${file(./app/unity/functions.yml)}

resources:
  Resources:
    AppDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${env:DYNAMODB_TABLE_NAME}
        BillingMode: PAY_PER_REQUEST

        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S

        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE

plugins:
  - serverless-offline
