org: j41r0
app: e-jairo
service: e-jairo-service

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}

  httpApi:
    cors:
      allowedOrigins:
        - ${env:AWS_CORS_ALLOWED_ORIGIN}
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
      allowCredentials: true
      maxAge: 6000

    authorizers:
      jwtAuthorizer:
        identitySource: $request.header.Authorization
        issuerUrl: https://cognito-idp.${self:provider.region}.amazonaws.com/${cf:e-jairo-auth-${sls:stage}.CognitoUserPoolId}
        audience:
          - ${cf:e-jairo-auth-${sls:stage}.CognitoUserPoolClientId}

  environment:
    COGNITO_USER_POOL_ID: ${cf:e-jairo-auth-${sls:stage}.CognitoUserPoolId}
    COGNITO_CLIENT_ID: ${cf:e-jairo-auth-${sls:stage}.CognitoUserPoolClientId}
    S3_BUCKET_NAME:
      Ref: DocumentsBucket
    DYNAMODB_TABLE_NAME:
      Ref: AppDynamoTable

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${env:DYNAMODB_TABLE_NAME}
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${env:DYNAMODB_TABLE_NAME}/index/*

        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
          Resource:
            - Fn::Sub: arn:aws:s3:::${DocumentsBucket}/*

functions:
  - ${file(./app/auth/functions.yml)}
  - ${file(./app/user/functions.yml)}
  - ${file(./app/team/functions.yml)}
  - ${file(./app/unity/functions.yml)}
  - ${file(./app/advertisement/functions.yml)}
  - ${file(./app/document/functions.yml)}

resources:
  Resources:
    AppDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${sls:stage}-table
        BillingMode: PAY_PER_REQUEST

        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: GSI1PK
            AttributeType: S
          - AttributeName: GSI1SK
            AttributeType: S
          - AttributeName: GSI2PK
            AttributeType: S
          - AttributeName: GSI2SK
            AttributeType: S

        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE

        GlobalSecondaryIndexes:
          - IndexName: GSI1
            KeySchema:
              - AttributeName: GSI1PK
                KeyType: HASH
              - AttributeName: GSI1SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

          - IndexName: GSI2
            KeySchema:
              - AttributeName: GSI2PK
                KeyType: HASH
              - AttributeName: GSI2SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

    DocumentsBucket:
      Type: AWS::S3::Bucket

      Properties:
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        VersioningConfiguration:
          Status: Enabled

custom:
  dotenv:
    path: .env.${sls:stage}
